{% extends "base.twig" %}

{% block title %}About{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, commodo dapibus risus hendrerit pulvinar dis nec est, bibendum sodales cras ridiculus quisque senectus. Placerat nam diam volutpat mattis sodales inceptos a, massa sed sociis per aliquet penatibus at proin, eleifend sollicitudin nisl condimentum curabitur morbi. Parturient massa scelerisque lacus cubilia elementum augue, commodo ante urna ridiculus cursus auctor libero, diam quam porta eget tortor. Lacinia pharetra faucibus mattis nunc tempus curae augue euismod feugiat, cum molestie mi quis pellentesque viverra netus aenean nullam, odio vitae aptent justo nisi consequat fermentum aliquet.</p>
    <div class="w3-cell-row">
        <div class="w3-cell w3-padding">
            <div class="w3-card-4">
                <img src="images/doesnotexist5.jpg" alt="CEO" class="w3-image" style="width:100%">
                <div class="w3-container w3-center">
                    <h4>Elissa Montgomery</h4>
                    <p>Cheif Executive Officer</p>
                </div>
            </div>
        </div>
        <div class="w3-cell w3-padding">
            <div class="w3-card-4">
                <img src="images/NewFakePerson03.jpg" alt="CTO" class="w3-image" style="width:100%">
                <div class="w3-container w3-center">
                    <h4>Mark Eidelberg</h4>
                    <p>Cheif Technology Officer</p>
                </div>
            </div>
        </div>
        <div class="w3-cell w3-padding">
            <div class="w3-card-4">
                <img src="images/NewFakePerson09.jpg" alt="CFO" class="w3-image" style="width:100%">
                <div class="w3-container w3-center">
                    <h4>JoAnn Parker</h4>
                    <p>Cheif Financial Officer</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}